body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

#content {
    display: none;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-name {
    font-size: 50px;
    margin-bottom: -5px;
}

#user-email {
    font-size: 30px;
    font-weight: normal;
}

#user-role {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: normal;
}

#user-id-label {
    font-size: 25px;
}

#email-and-id{
    margin-left: 1310px;
    margin-top: 10px;
}

hr {
    margin-left: -20px;
}

table {
    font-size: 20px;
}


#stats-table{
    margin: 30px auto 30px 0px;
}

select {
    font-size: 20px;
    margin: 5px 5px 0 5px;
    border-radius: 5px;
}

#error-message{
    text-align: center;
    padding: 200px;
    display: none;
}

#status-code {
    font-size: 100px;
    font-weight: bolder;
    margin-bottom: 40px;}

.error {
    font-size: 40px;
    font-weight: bold;
}

#error-message h3 {
    margin-top: 50px;
    font-size: 25px;
}